body {margin:0;padding:0;}
* {color:#333;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;}

#wrapper-site-header, #wrapper-site-footer, #wrapper-blog-posts, #wrapper-blog-post-menu, #wrapper-logo {padding:10px;}
#wrapper-site-header, #wrapper-site-footer, #wrapper-logo {clear:both;}

#wrapper-site-header {border-bottom:1px solid #bcc;background-color:#dee;min-height:32px;font-size:20px;}
#wrapper-site-footer {border-top:1px solid #bcc;background-color:#dee;}

#wrapper-site-header-icons, #wrapper-site-footer-icons {float:right;}
#wrapper-site-header-icons img, #wrapper-site-footer-icons img {border:0px;}

#wrapper-blog-posts {float:left;max-width:70%}
#wrapper-sidebar {float:right;max-width:25%;border-left:1px solid #bcc;background-color:#dee;}

.blog-post-header {padding:10px;border-bottom:1px solid #cdd;background-color:#eff;}
.blog-post-header span {font-weight:bold;}
.blog-post-header .commit-link {float:right}
.blog-post-header .commit-link img {border:0;}

.blog-post-body {padding:10px;}
.blog-post-body span.code, pre.code, code {font-family: monospace, Courier, Lucidatypewriter; }
.blog-post-body div.callout {margin:10px;text-align:center;}
.blog-post-body div.callout span.citation {text-align:center;color:#555;clear:both;display:block;font-size:smaller;}
.blog-post-guid {display:none;}

.blog-post-body .guest-post-content {margin:10px;}

.blog-post-footer .post-timestamp, .post-timestamp-updated, .blog-post-footer .post-tags, .post-screenshot {display:block;clear:both;}
.blog-post-footer {padding:10px;border-bottom:1px solid #cdd;background-color:#f9f9f9;} 

.post-screenshot img {border:0;margin:10px;}


#wrapper-logo .logo {display: block;margin-left: auto;margin-right: auto;}

#wrapper-blog-post-menu .menu-header {}

/* START post-specific styles */
#table-png-compression-results {
	border-collapse:collapse;
}

#table-png-compression-results th, #table-png-compression-results td {
	padding:10px;
	border:1px solid #888;
}
/* END post-specific styles */