/*!
	Aaron K. Murray
	@aaronkmurray

	Blog-related CSS styles for aaronkmurray.com rotating logo
*/

$perspective-size:640px;
$cube-size:128px;
$edge-size:64px;

#wrapper-logo {
  float:right;
  padding:0;
  margin-right:12em;
  margin-top:20px;
  margin-left:40px;
  width: $cube-size;
  height: $cube-size;
  position: relative;
  -webkit-perspective: $perspective-size;
	 -moz-perspective: $perspective-size;
	   -o-perspective: $perspective-size;
		  perspective: $perspective-size;
}

#wrapper-logo .logo {
	display: block;
}

#logo-cube {
  width: $cube-size;
  height: $cube-size;
  position: absolute;
  margin:0;
  -webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	  -ms-transform-style: preserve-3d;
	   -o-transform-style: preserve-3d;
		  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
	 -moz-transition: -moz-transform 1s;
	  -ms-transition: -ms-transform 1s;
	   -o-transition: -o-transform 1s;
		  transition: transform 1s;
}

#logo-cube figure {
  display: block;
  position: absolute;
  width: $cube-size;
  height: $cube-size;
}

#logo-cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
	   -o-backface-visibility: hidden;
		  backface-visibility: hidden;
}

#logo-cube .side-1  {
  -webkit-transform: translateZ( $edge-size );
	 -moz-transform: translateZ( $edge-size );
      -ms-transform: translateZ( $edge-size );
	   -o-transform: translateZ( $edge-size );
		  transform: translateZ( $edge-size );
}
#logo-cube .side-2   {
  -webkit-transform: rotateX( -180deg ) translateZ( $edge-size );
	 -moz-transform: rotateX( -180deg ) translateZ( $edge-size );
      -ms-transform: rotateX( -180deg ) translateZ( $edge-size );
	   -o-transform: rotateX( -180deg ) translateZ( $edge-size );
		  transform: rotateX( -180deg ) translateZ( $edge-size );
}
#logo-cube .side-3 {
  -webkit-transform: rotateY(   90deg ) translateZ( $edge-size );
	 -moz-transform: rotateY(   90deg ) translateZ( $edge-size );
      -ms-transform: rotateY(   90deg ) translateZ( $edge-size );
	   -o-transform: rotateY(   90deg ) translateZ( $edge-size );
		  transform: rotateY(   90deg ) translateZ( $edge-size );
}
#logo-cube .side-4 {
  -webkit-transform: rotateY(  -90deg ) translateZ( $edge-size );
	 -moz-transform: rotateY(  -90deg ) translateZ( $edge-size );
      -ms-transform: rotateY(  -90deg ) translateZ( $edge-size );
	   -o-transform: rotateY(  -90deg ) translateZ( $edge-size );
		  transform: rotateY(  -90deg ) translateZ( $edge-size );
}
#logo-cube .side-5 {
  -webkit-transform: rotateX(   90deg ) translateZ( $edge-size );
	 -moz-transform: rotateX(   90deg ) translateZ( $edge-size );
      -ms-transform: rotateX(   90deg ) translateZ( $edge-size );
	   -o-transform: rotateX(   90deg ) translateZ( $edge-size );
		  transform: rotateX(   90deg ) translateZ( $edge-size );
}
#logo-cube .side-6 {
  -webkit-transform: rotateX(  -90deg ) translateZ( $edge-size );
	 -moz-transform: rotateX(  -90deg ) translateZ( $edge-size );
      -ms-transform: rotateX(  -90deg ) translateZ( $edge-size );
	   -o-transform: rotateX(  -90deg ) translateZ( $edge-size );
		  transform: rotateX(  -90deg ) translateZ( $edge-size );
}

#logo-cube.show-side-1 {
  -webkit-transform: translateZ( -$edge-size );
	 -moz-transform: translateZ( -$edge-size );
      -ms-transform: translateZ( -$edge-size );
	   -o-transform: translateZ( -$edge-size );
		  transform: translateZ( -$edge-size );
}
#logo-cube.show-side-2 {
  -webkit-transform: translateZ( -$edge-size ) rotateX( -180deg );
	 -moz-transform: translateZ( -$edge-size ) rotateX( -180deg );
      -ms-transform: translateZ( -$edge-size ) rotateX( -180deg );
	   -o-transform: translateZ( -$edge-size ) rotateX( -180deg );
		  transform: translateZ( -$edge-size ) rotateX( -180deg );
}
#logo-cube.show-side-3 {
  -webkit-transform: translateZ( -$edge-size ) rotateY(  -90deg );
	 -moz-transform: translateZ( -$edge-size ) rotateY(  -90deg );
      -ms-transform: translateZ( -$edge-size ) rotateY(  -90deg );
	   -o-transform: translateZ( -$edge-size ) rotateY(  -90deg );
		  transform: translateZ( -$edge-size ) rotateY(  -90deg );
}
#logo-cube.show-side-4 {
  -webkit-transform: translateZ( -$edge-size ) rotateY(   90deg );
	 -moz-transform: translateZ( -$edge-size ) rotateY(   90deg );
      -ms-transform: translateZ( -$edge-size ) rotateY(   90deg );
	   -o-transform: translateZ( -$edge-size ) rotateY(   90deg );
		  transform: translateZ( -$edge-size ) rotateY(   90deg );
}
#logo-cube.show-side-5 {
  -webkit-transform: translateZ( -$edge-size ) rotateX(  -90deg );
	 -moz-transform: translateZ( -$edge-size ) rotateX(  -90deg );
      -ms-transform: translateZ( -$edge-size ) rotateX(  -90deg );
	   -o-transform: translateZ( -$edge-size ) rotateX(  -90deg );
		  transform: translateZ( -$edge-size ) rotateX(  -90deg );
}
#logo-cube.show-side-6 {
  -webkit-transform: translateZ( -$edge-size ) rotateX(   90deg );
	 -moz-transform: translateZ( -$edge-size ) rotateX(   90deg );
      -ms-transform: translateZ( -$edge-size ) rotateX(   90deg );
	   -o-transform: translateZ( -$edge-size ) rotateX(   90deg );
		  transform: translateZ( -$edge-size ) rotateX(   90deg );
}
