/*!
	Aaron K. Murray
	@aaronkmurray

	Blog-related CSS styles for aaronkmurray.com

	Excellent CSS notes, guidelines, and examples: https://github.com/csswizardry/CSS-Guidelines


*/


/* 
	Fonts and Text Sizing. See: http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ and http://jsfiddle.net/csswizardry/8nYqN/
	Base font-size here since most elements will inherit this 
*/
html {
    font-size:1em;      /* 1em=16px by default.  see See: http://www.informationarchitects.jp/en/100e2r/  */
	line-height:1.5; /* 16x1.5=24px (This is now our magic number; all subsequent margin-bottoms and line-heights want to be a multiple of this number in order to maintain vertical rhythm.) */
}

body {
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	color:#333;
}

/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,
ul,ol,dl,
fieldset,
p,
table,
pre,
hr{
    margin-bottom:24px;
    margin-bottom:1.5rem;
}



/* Links */
a:link {
	color:#333;
}
a:visited {
	color:#333;
}
a:active {
	color:#c00;
}
a:hover, a:focus {
  color:#c00;
  opacity: .75;
}



/* 
	Special case overrides for external ShareThis styles that I cannot control 
*/
#wrapper-site-footer .stButton .chicklets {
	font-size:150%;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	color:#333;
}
#wrapper-site-footer .stButton .chicklets:hover {color:#c00;}



/*
	Begin real specific styling for the blog
*/

#wrapper-site-header, #wrapper-site-footer, #wrapper-blog-posts, #wrapper-blog-post-menu {padding:10px;}
#wrapper-site-header, #wrapper-site-footer {clear:both;}

#wrapper-site-header {border-bottom:1px solid #bcc;background-color:#dee;min-height:10em;}
#wrapper-site-footer {border-top:1px solid #bcc;background-color:#dee;min-height:20em;}

#wrapper-site-header-words {float:left;max-width:600px;clear:both;}
#wrapper-site-header-words h1, #wrapper-site-header-words h2 {}
#wrapper-site-header-words h2 {font-size:0.875em;font-weight:normal;}

#wrapper-site-header-icons {float:right;}


#wrapper-site-footer section {float:left;width:13em;}
#wrapper-site-footer section h3 {margin-left:0em;}
#wrapper-site-footer section a {text-decoration:none;}
#wrapper-site-footer section ul {list-style: disc inside;margin:0;padding:0;}
#wrapper-site-footer section ul li {list-style: none;line-height:2em;}
#wrapper-site-footer section.share ul {margin-left:-0.45em;}

#content-site-footer {width:55em;margin-left:auto;margin-right:auto;}


div.copyright {clear:both;padding:2em;}
div.copyright span {display:block;width:20em;margin-left:auto;margin-right:auto;}


#wrapper-blog-posts {float:left;max-width:70%}
#wrapper-sidebar {float:right;max-width:25%;border-left:1px solid #bcc;background-color:#dee;}

.blog-post-header {padding:10px;border-bottom:1px solid #cdd;background-color:#eff;}
.blog-post-header h2 {display:inline;font-weight:bold;}
.blog-post-header .commit-link {float:right}
.blog-post-header .commit-link img {border:0;}

.blog-post-body {padding:10px;}
.blog-post-body span.code, pre.code, code {font-family: monospace, Courier, Lucidatypewriter; }
.blog-post-body figure {margin:10px;text-align:center;}
.blog-post-body figcaption {text-align:center;color:#555;font-size:smaller;}
.blog-post-guid {display:none;}

.blog-post-body .guest-post-content {margin:10px;}

.blog-post-footer .post-timestamp, .post-timestamp-updated, .blog-post-footer .post-tags, .post-screenshot {display:block;clear:both;}
.blog-post-footer {padding:10px;border-bottom:1px solid #cdd;background-color:#f9f9f9;} 

.post-screenshot img {border:0;margin:10px;}



#wrapper-blog-post-menu .menu-header {}

/* START post-specific styles */

/* START POST 8 */
#table-png-compression-results th, #table-png-compression-results td {
	padding:10px;
	border:1px solid #888;
}
/* END POST 8 */

/* END post-specific styles */