.img-post-1-thumb-100
{
    width: 100px;
    height: 95px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: 0px 0px;
    background-repeat:no-repeat;
}


.img-post-6-thumb-100
{
    width: 100px;
    height: 62px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -100px 0px;
    background-repeat:no-repeat;
}


.img-post-5-thumb-100
{
    width: 100px;
    height: 62px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -200px 0px;
    background-repeat:no-repeat;
}


.img-post-9-thumb-100
{
    width: 100px;
    height: 65px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -300px 0px;
    background-repeat:no-repeat;
}


.img-post-7-thumb-100
{
    width: 100px;
    height: 67px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -400px 0px;
    background-repeat:no-repeat;
}


.img-post-18-thumb-100
{
    width: 100px;
    height: 76px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: 0px -95px;
    background-repeat:no-repeat;
}


.img-post-11-thumb-100
{
    width: 100px;
    height: 77px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -100px -95px;
    background-repeat:no-repeat;
}


.img-post-10-thumb-100
{
    width: 100px;
    height: 77px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -200px -95px;
    background-repeat:no-repeat;
}


.img-post-17-thumb-100
{
    width: 100px;
    height: 80px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -300px -95px;
    background-repeat:no-repeat;
}


.img-post-16-thumb-100
{
    width: 100px;
    height: 80px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -400px -95px;
    background-repeat:no-repeat;
}


.img-post-15-thumb-100
{
    width: 100px;
    height: 80px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: 0px -175px;
    background-repeat:no-repeat;
}


.img-post-14-thumb-100
{
    width: 100px;
    height: 81px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -100px -175px;
    background-repeat:no-repeat;
}


.img-post-13-thumb-100
{
    width: 100px;
    height: 81px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -200px -175px;
    background-repeat:no-repeat;
}


.img-post-12-thumb-100
{
    width: 100px;
    height: 81px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -300px -175px;
    background-repeat:no-repeat;
}


.img-post-21-thumb-100
{
    width: 100px;
    height: 84px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -400px -175px;
    background-repeat:no-repeat;
}


.img-post-22-thumb-100
{
    width: 100px;
    height: 84px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: 0px -259px;
    background-repeat:no-repeat;
}


.img-post-19-thumb-100
{
    width: 100px;
    height: 86px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -100px -259px;
    background-repeat:no-repeat;
}


.img-post-20-thumb-100
{
    width: 100px;
    height: 87px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -200px -259px;
    background-repeat:no-repeat;
}


.img-post-2-thumb-100
{
    width: 100px;
    height: 95px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -300px -259px;
    background-repeat:no-repeat;
}


.img-post-3-thumb-100
{
    width: 100px;
    height: 95px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -400px -259px;
    background-repeat:no-repeat;
}


.img-post-8-thumb-100
{
    width: 100px;
    height: 62px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: 0px -354px;
    background-repeat:no-repeat;
}


.img-post-4-thumb-100
{
    width: 100px;
    height: 57px;
    background-image: url(../../img/blog/sprites/post-screenshot-thumbs-all.png);
    background-position: -100px -354px;
    background-repeat:no-repeat;
}


